adfdemo786/PartialArmTemplates/ArmTemplate_7_20_2019_11_55_14.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfdemo786"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azurestoragepipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Azure blob storage pipeline containing Google shock google  Price",
				"activities": [
					{
						"name": "CopynProcess",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "SourceBlob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/akbar.belif1@cgm4l.onmicrosoft.com/demoworkspace/demonotebook",
							"baseParameters": {
								"accountkey": {
									"value": "@pipeline().parameters.accountkey",
									"type": "Expression"
								},
								"accountname": {
									"value": "@pipeline().parameters.accountname",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SourceBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting",
									"recursive": true,
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Trainshockprice",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Trainshockprice",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"accountname": {
						"type": "string",
						"defaultValue": "cgtrainingbatch22019"
					},
					"accountkey": {
						"type": "string",
						"defaultValue": "7+djZSOsUAc25tFUcIETU3YB3kKUuyqW+RJ5ickrm9cRPZl7XQ+a6Mozt7h3WQuL9p7NPofS6Lbh3N4rpOvbUQ=="
					},
					"input": {
						"type": "string",
						"defaultValue": "Google_Stock_Price_Test.csv"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Trainshockprice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob2Cosmos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy Blob cvs to Cosmos ",
				"activities": [
					{
						"name": "CopyBlob2Cosmos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "shockprice/input/Google_Stock_Price_Train.csv"
							},
							{
								"name": "Destination",
								"value": "IoT1"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBatchSize": 1000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"parallelCopies": 4,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 16
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_fxv",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_fxv",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_fxv')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_fxv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Week6review')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "house-prices predicition",
				"activities": [
					{
						"name": "Housing_price",
						"description": "House Price Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "houseprice",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "houseprice",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Processhouseprice",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Housing_price",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/akbar.belif1@cgm4l.onmicrosoft.com/week6review/housingprice",
							"baseParameters": {
								"storage_name": {
									"value": "@pipeline().parameters.storage_name",
									"type": "Expression"
								},
								"storage_access_token": {
									"value": "@pipeline().parameters.storage_access_token",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "week6reviewADlink",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"storage_name": {
						"type": "string",
						"defaultValue": "week6review"
					},
					"storage_access_token": {
						"type": "string",
						"defaultValue": "QYWyteohGdGR9DIhFplyStZOs2VlXmRS6+dpvopqsT6FneIU9Dl3+0pAkBuwe/jnUYrzvI6Oen1X9+IOsQiZTg=="
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/houseprice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_fxv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "IoT1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_fxv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_lnk",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Google_Stock_Price_Train.csv",
						"folderPath": "input",
						"container": "shockprice"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Open",
						"type": "String"
					},
					{
						"name": "High",
						"type": "String"
					},
					{
						"name": "Low",
						"type": "String"
					},
					{
						"name": "Close",
						"type": "String"
					},
					{
						"name": "Volume",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trainshockprice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_lnk",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Google_Stock_Price_Train.csv",
						"folderPath": "input",
						"container": "shockprice"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/houseprice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "week6reviewlink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "house-prices.csv",
						"folderPath": "input",
						"container": "houseprice"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}